In [1]:
import pandas as pd
import re

Reading precolator results with q-value less than 0.005

In [2]:
df_all = pd.read_csv('C:/Users/poder/crux-demo/crux-output/percolator-output/percolator.target.psms.txt', sep = '\t', skipinitialspace=True)
df_prec_mass = df_all.loc[(df_all['percolator q-value'] < 0.005)]
df_percolator = df_prec_mass[['scan', 'sequence', 'charge', 'percolator q-value']]
df_percolator

         scan                 sequence  charge  percolator q-value
0      284564            HYGDQTFSSSTVK       2            0.000089
1      510517  LAAAQQQAQASGIMPSNEDVATK       3            0.000089
2      510510  LAAAQQQAQASGIMPSNEDVATK       3            0.000089
3      284558            HYGDQTFSSSTVK       2            0.000089
4      376458       APTASQLQNPPPPPSTTK       2            0.000089
...       ...                      ...     ...                 ...
44802  236930              LTPITYSCNAK       2            0.004996
44803  237318              EVNLDPNPPVR       2            0.004996
44804  181656               SLDYVANATR       2            0.004996
44805  379007        SAVTSPLLPQSPSLFEK       2            0.004996
44806  105364                AVAEAIQAK       2            0.004996

[44807 rows x 4 columns]

In [3]:
df_all.loc[(df_all['percolator q-value'] < 0.005) & (df_all['spectrum precursor m/z'] == 410.4365)]

,file_idx,scan,charge,spectrum precursor m/z,spectrum neutral mass,peptide mass,percolator score,percolator q-value,percolator PEP,distinct matches/spectrum,sequence,protein id,flanking aa
10171,0,224783,3,410.4365,1228.2876,1152.5822,0.660177,0.000127,0.000205,10846,CGHTNQLRPK,"YIL148W,YKR094C",KK
10636,0,227709,3,410.4365,1228.2876,1198.6670,0.648106,0.000127,0.000227,10846,DAGTIAGLNVLR,"YER103W,YJL034W,YAL005C,YLL024C",KI
10808,0,74928,2,410.4365,818.8584,810.4235,0.643404,0.000127,0.000237,12439,HGIVEEK,YKL056C,KI
12220,0,74922,2,410.4365,818.8584,810.4235,0.610093,0.000127,0.000316,12439,HGIVEEK,YKL056C,KI
13634,0,224778,3,410.4365,1228.2876,1152.5822,0.577292,0.000127,0.000420,10846,CGHTNQLRPK,"YIL148W,YKR094C",KK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44666,0,75494,2,410.4365,818.8584,821.3919,0.091633,0.004941,0.026188,12439,AADEAFAK,"YDL229W,YNL209W",KK
44696,0,224827,3,410.4365,1228.2876,1152.5822,0.091276,0.004957,0.026267,10846,CGHTNQLRPK,"YIL148W,YKR094C",KK
44753,0,75658,2,410.4365,818.8584,817.4181,0.090750,0.004957,0.026384,12439,EIDVTGGK,YNL096C,RK
44759,0,76814,2,410.4365,818.8584,829.4657,0.090700,0.004977,0.026395,12439,IGDILSGR,YGR240C,KL
44796,0,77015,2,410.4365,818.8584,819.4490,0.090272,0.004996,0.026491,12439,INFGIEK,YAL038W,RA

In [4]:
df_features = pd.read_csv('C:/Users/poder/crux-demo/crux-output/diameter.features.pin', sep = '\t', usecols = ['SpecId', 'ScanNr'])
df_features

                    SpecId   ScanNr
0           target_0_5_1_2        1
1          target_0_46_1_2        2
2          target_0_87_1_2        3
3         target_0_128_1_2        4
4         target_0_169_1_2        5
...                    ...      ...
1755980  decoy_0_73308_5_3  1755981
1755981  decoy_0_73308_5_4  1755982
1755982  decoy_0_73308_5_5  1755983
1755983  decoy_0_73349_5_1  1755984
1755984  decoy_0_73349_5_2  1755985

[1755985 rows x 2 columns]

In [5]:
df_union = pd.merge(df_features, df_percolator, left_on = 'ScanNr', right_on = 'scan')
df_union.drop(['ScanNr', 'scan'], inplace=True, axis=1)
df_union

,SpecId,sequence,charge,percolator q-value
0,target_0_17763_1_1,VGITGK,1,0.004208
1,target_0_24857_1_1,DLASGK,1,0.002807
2,target_0_24898_1_1,DLASGK,1,0.002982
3,target_0_24939_1_1,DLASGK,1,0.003657
4,target_0_24408_1_1,IFGTGK,1,0.004270
...,...,...,...,...
44802,target_0_55508_5_1,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000349
44803,target_0_55549_5_1,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000089
44804,target_0_55590_5_1,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000845
44805,target_0_55631_5_1,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000503
44806,target_0_55672_5_1,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000571

In [6]:
pattern = re.compile(r'target_\d_(.*?)_\d_\d')
for ind in df_union.index:
    df_union.loc[ind,'SpecId'] = re.findall(pattern, df_union['SpecId'][ind])[0]

In [7]:
df_union

,SpecId,sequence,charge,percolator q-value
0,17763,VGITGK,1,0.004208
1,24857,DLASGK,1,0.002807
2,24898,DLASGK,1,0.002982
3,24939,DLASGK,1,0.003657
4,24408,IFGTGK,1,0.004270
...,...,...,...,...
44802,55508,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000349
44803,55549,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000089
44804,55590,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000845
44805,55631,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000503
44806,55672,DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK,5,0.000571

In [8]:
df_union = df_union.rename(columns = {"SpecId": "scan"})
df_union = df_union[['scan', 'sequence', 'charge']]

In [9]:
df_union

        scan                                        sequence  charge
0      17763                                          VGITGK       1
1      24857                                          DLASGK       1
2      24898                                          DLASGK       1
3      24939                                          DLASGK       1
4      24408                                          IFGTGK       1
...      ...                                             ...     ...
44802  55508  DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK       5
44803  55549  DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK       5
44804  55590  DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK       5
44805  55631  DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK       5
44806  55672  DNLTLWTSDISESGQEDQQQQQQQQQQQQQQQQQAPAEQTQGEPTK       5

[44807 rows x 3 columns]

In [10]:
df_union.to_csv('train_data_percolator.csv', index=False)